.arena {
    background-image: url('../public/assets/canvas.jpg');
    padding: 40px;
}

.player,
.board-area {
    /* border: 2px solid black; */
    font-family: "Oswald";
    font-size: 30px;
    /* padding: 5px; */
    /* text-align: right; */
}

.board-area {
    background-color: #C6BEC2;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.timer {
    /* background-color: #008080; */
    background-image: url('../public/assets/card.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.player-label-black {
    color: black;
}

.player-label-white {
    color: white;
}

/* .player>.player-label {
    display: flex;
    justify-content: flex-start;
} */

/* .comps {
    margin-top: 40px;
} */

/* .player {
    display: flex;
    justify-content: flex-end;
} */