.board-container {
  justify-content: center;
}

.board {
  position: relative;
  left: 33%;
  top: 33%;
  height: 500px;
  width: 500px;
  justify-content: center;
  background-color: bisque;
}

.board-slot {
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

#slot-1 {
  position: absolute;
  left: 250px;
  top: 200px;
}

#slot-2 {
  position: absolute;
  left: 300px;
  top: 200px;
}

#slot-3 {
  position: absolute;
  left: 300px;
  top: 250px;
}

#slot-4 {
  position: absolute;
  left: 300px;
  top: 300px;
}

#slot-5 {
  position: absolute;
  left: 250px;
  top: 300px;
}

#slot-6 {
  position: absolute;
  left: 200px;
  top: 300px;
}

#slot-7 {
  position: absolute;
  left: 200px;
  top: 250px;
}

#slot-8 {
  position: absolute;
  left: 200px;
  top: 200px;
}

#slot-9 {
  position: absolute;
  left: 250px;
  top: 150px;
}

#slot-10 {
  position: absolute;
  left: 350px;
  top: 150px;
}

#slot-11 {
  position: absolute;
  left: 350px;
  top: 250px;
}

#slot-12 {
  position: absolute;
  left: 350px;
  top: 350px;
}

#slot-13 {
  position: absolute;
  left: 250px;
  top: 350px;
}

#slot-14 {
  position: absolute;
  left: 150px;
  top: 350px;
}

#slot-15 {
  position: absolute;
  left: 150px;
  top: 250px;
}

#slot-16 {
  position: absolute;
  left: 150px;
  top: 150px;
}

#slot-17 {
  position: absolute;
  left: 250px;
  top: 50px;
}

#slot-18 {
  position: absolute;
  left: 450px;
  top: 50px;
}

#slot-19 {
  position: absolute;
  left: 450px;
  top: 250px;
}

#slot-20 {
  position: absolute;
  left: 450px;
  top: 450px;
}

#slot-21 {
  position: absolute;
  left: 250px;
  top: 450px;
}

#slot-22 {
  position: absolute;
  left: 50px;
  top: 450px;
}

#slot-23 {
  position: absolute;
  left: 50px;
  top: 250px;
}

#slot-24 {
  position: absolute;
  left: 50px;
  top: 50px;
}

/* lines */
#line-1-2 {
  position: absolute;
  top: 195px;
  left: 255px;
  width: 50px;
}

#line-2-3 {
  position: absolute;
  top: 195px;
  left: 305px;
  height: 50px;
}

#line-3-4 {
  position: absolute;
  top: 245px;
  left: 305px;
  height: 50px;
}

#line-4-5 {
  position: absolute;
  top: 295px;
  left: 255px;
  width: 50px;
}

#line-5-6 {
  position: absolute;
  top: 295px;
  left: 205px;
  width: 50px;
}

#line-6-7 {
  position: absolute;
  top: 245px;
  left: 205px;
  height: 50px;
}

#line-7-8 {
  position: absolute;
  top: 195px;
  left: 205px;
  height: 50px;
}

#line-8-1 {
  position: absolute;
  top: 195px;
  left: 205px;
  width: 50px;
}

#line-1-9 {
  position: absolute;
  top: 145px;
  left: 255px;
  height: 50px;
}

#line-3-11 {
  position: absolute;
  top: 245px;
  left: 305px;
  width: 50px;
}

#line-5-13 {
  position: absolute;
  top: 295px;
  left: 255px;
  height: 50px;
}

#line-7-15 {
  position: absolute;
  top: 245px;
  left: 155px;
  width: 50px;
}

#line-9-10 {
  position: absolute;
  top: 145px;
  left: 255px;
  width: 100px;
}

#line-10-11 {
  position: absolute;
  top: 145px;
  left: 355px;
  height: 100px;
}

#line-11-12 {
  position: absolute;
  top: 245px;
  left: 355px;
  height: 100px;
}

#line-12-13 {
  position: absolute;
  top: 345px;
  left: 255px;
  width: 100px;
}

#line-13-14 {
  position: absolute;
  top: 345px;
  left: 155px;
  width: 100px;
}

#line-14-15 {
  position: absolute;
  top: 245px;
  left: 155px;
  height: 100px;
}

#line-15-16 {
  position: absolute;
  top: 145px;
  left: 155px;
  height: 100px;
}

#line-16-9 {
  position: absolute;
  top: 145px;
  left: 155px;
  width: 100px;
}

#line-9-17 {
  position: absolute;
  top: 45px;
  left: 255px;
  height: 100px;
}

#line-11-19 {
  position: absolute;
  top: 245px;
  left: 355px;
  width: 100px;
}

#line-13-21 {
  position: absolute;
  top: 345px;
  left: 255px;
  height: 100px;
}

#line-15-23 {
  position: absolute;
  top: 245px;
  left: 55px;
  width: 100px;
}

#line-17-18 {
  position: absolute;
  top: 45px;
  left: 255px;
  width: 200px;
}

#line-18-19 {
  position: absolute;
  top: 45px;
  left: 455px;
  height: 200px;
}

#line-19-20 {
  position: absolute;
  top: 245px;
  left: 455px;
  height: 200px;
}

#line-20-21 {
  position: absolute;
  top: 445px;
  left: 255px;
  width: 200px;
}

#line-21-22 {
  position: absolute;
  top: 445px;
  left:55px;
  width: 200px;
}

#line-22-23 {
  position: absolute;
  top: 245px;
  left: 55px;
  height: 200px;
}

#line-23-24 {
  position: absolute;
  top: 45px;
  left: 55px;
  height: 200px;
}

#line-24-17 {
  position: absolute;
  top: 45px;
  left: 55px;
  width: 200px;
}