.board-container {
  justify-content: center;
}

.board {
  position: relative;
  left: 33%;
  top: 33%;
  height: 500px;
  width: 500px;
  justify-content: center;
  background-color: bisque;
}

.board-slot-default {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background-color: #964B00;
}

.board-slot-white {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background-color: #FFFFFF;
}

.board-slot-black {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background-color: #000000;
}

#slot-1 {
  position: absolute;
  left: 250px;
  top: 200px;
}

#slot-2 {
  position: absolute;
  left: 300px;
  top: 200px;
}

#slot-3 {
  position: absolute;
  left: 300px;
  top: 250px;
}

#slot-4 {
  position: absolute;
  left: 300px;
  top: 300px;
}

#slot-5 {
  position: absolute;
  left: 250px;
  top: 300px;
}

#slot-6 {
  position: absolute;
  left: 200px;
  top: 300px;
}

#slot-7 {
  position: absolute;
  left: 200px;
  top: 250px;
}

#slot-8 {
  position: absolute;
  left: 200px;
  top: 200px;
}

#slot-9 {
  position: absolute;
  left: 250px;
  top: 125px;
}

#slot-10 {
  position: absolute;
  left: 375px;
  top: 125px;
}

#slot-11 {
  position: absolute;
  left: 375px;
  top: 250px;
}

#slot-12 {
  position: absolute;
  left: 375px;
  top: 375px;
}

#slot-13 {
  position: absolute;
  left: 250px;
  top: 375px;
}

#slot-14 {
  position: absolute;
  left: 125px;
  top: 375px;
}

#slot-15 {
  position: absolute;
  left: 125px;
  top: 250px;
}

#slot-16 {
  position: absolute;
  left: 125px;
  top: 125px;
}

#slot-17 {
  position: absolute;
  left: 250px;
  top: 50px;
}

#slot-18 {
  position: absolute;
  left: 450px;
  top: 50px;
}

#slot-19 {
  position: absolute;
  left: 450px;
  top: 250px;
}

#slot-20 {
  position: absolute;
  left: 450px;
  top: 450px;
}

#slot-21 {
  position: absolute;
  left: 250px;
  top: 450px;
}

#slot-22 {
  position: absolute;
  left: 50px;
  top: 450px;
}

#slot-23 {
  position: absolute;
  left: 50px;
  top: 250px;
}

#slot-24 {
  position: absolute;
  left: 50px;
  top: 50px;
}

/* lines */
#line-1-2 {
  position: absolute;
  top: 200px;
  left: 260px;
  width: 50px;
}

#line-2-3 {
  position: absolute;
  top: 200px;
  left: 310px;
  height: 50px;
}

#line-3-4 {
  position: absolute;
  top: 250px;
  left: 310px;
  height: 50px;
}

#line-4-5 {
  position: absolute;
  top: 300px;
  left: 260px;
  width: 50px;
}

#line-5-6 {
  position: absolute;
  top: 300px;
  left: 210px;
  width: 50px;
}

#line-6-7 {
  position: absolute;
  top: 250px;
  left: 210px;
  height: 50px;
}

#line-7-8 {
  position: absolute;
  top: 200px;
  left: 210px;
  height: 50px;
}

#line-8-1 {
  position: absolute;
  top: 200px;
  left: 210px;
  width: 50px;
}

#line-1-9 {
  position: absolute;
  top: 125px;
  left: 260px;
  height: 75px;
}

#line-3-11 {
  position: absolute;
  top: 250px;
  left: 310px;
  width: 75px;
}

#line-5-13 {
  position: absolute;
  top: 300px;
  left: 260px;
  height: 75px;
}

#line-7-15 {
  position: absolute;
  top: 250px;
  left: 135px;
  width: 75px;
}

#line-9-10 {
  position: absolute;
  top: 125px;
  left: 260px;
  width: 125px;
}

#line-10-11 {
  position: absolute;
  top: 125px;
  left: 385px;
  height: 125px;
}

#line-11-12 {
  position: absolute;
  top: 250px;
  left: 385px;
  height: 125px;
}

#line-12-13 {
  position: absolute;
  top: 375px;
  left: 260px;
  width: 125px;
}

#line-13-14 {
  position: absolute;
  top: 375px;
  left: 135px;
  width: 125px;
}

#line-14-15 {
  position: absolute;
  top: 250px;
  left: 135px;
  height: 125px;
}

#line-15-16 {
  position: absolute;
  top: 125px;
  left: 135px;
  height: 125px;
}

#line-16-9 {
  position: absolute;
  top: 125px;
  left: 135px;
  width: 125px;
}

#line-9-17 {
  position: absolute;
  top: 50px;
  left: 260px;
  height: 75px;
}

#line-11-19 {
  position: absolute;
  top: 250px;
  left: 385px;
  width: 75px;
}

#line-13-21 {
  position: absolute;
  top: 375px;
  left: 260px;
  height: 75px;
}

#line-15-23 {
  position: absolute;
  top: 250px;
  left: 60px;
  width: 75px;
}

#line-17-18 {
  position: absolute;
  top: 50px;
  left: 260px;
  width: 200px;
}

#line-18-19 {
  position: absolute;
  top: 50px;
  left: 460px;
  height: 200px;
}

#line-19-20 {
  position: absolute;
  top: 250px;
  left: 460px;
  height: 200px;
}

#line-20-21 {
  position: absolute;
  top: 450px;
  left: 260px;
  width: 200px;
}

#line-21-22 {
  position: absolute;
  top: 450px;
  left: 60px;
  width: 200px;
}

#line-22-23 {
  position: absolute;
  top: 250px;
  left: 60px;
  height: 200px;
}

#line-23-24 {
  position: absolute;
  top: 50px;
  left: 60px;
  height: 200px;
}

#line-24-17 {
  position: absolute;
  top: 50px;
  left: 60px;
  width: 200px;
}